*{
    margin:0;
    padding:0;
    background-color:#e8eceb;
}


h1{
    color:red;
}

.home{
    align-items: center;
    /* border:1px solid black; */
    /* text-align: center; */
}
.home-contents{
    /* display:flex; */
    /* justify-content: center; */
    /* align-items: center; */

    /* border:1px solid rgb(255, 0, 0); */
    /* margin:auto; */
    
    
    
}