.searchbox{
    width: 480px;
    
}
.searchform{    margin-left: 280px;}

.links{
    margin-right: 114px;
}
.main{
    position: relative;
}

.thumbnail-image{
    /* width:47px;
    height: 50px; */
    height: 55px;
    width: 60px;
    border-radius:20px;
}
.pull-left{
    height: 55px;
    width: 60px;
    /* border: 1px solid black; */
}
